﻿@model _21_11_2021.Models.Member

 <!DOCTYPE html>
 <html>
 <head>
     <meta name="viewport" content="width=device-width" />
     <title>Register</title>
     <link rel="stylesheet" href="/css/styles.css" />
     <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
 </head>
 <body>
     <h5 class="bg-primary text-white text-center m-2 p-2">Register to the training</h5>
     <form asp-action="Register" method="post" class="m-2">
         <div asp-validation-summary="All"></div>
 <div class="form-group">
             <label asp-for="Name">Your name:</label>
             <input asp-for="Name" class="form-control" />
         </div>
         <div class="form-group">
             <label asp-for="Email">Your email:</label>
             <input asp-for="Email" class="form-control" />
         </div>
         <div class="form-group">
             <label asp-for="University">Your university:</label>
             <input asp-for="University" class="form-control" />
         </div>
         <div class="form-group">
             <label>Training</label>
             <select asp-for="Training" class="form-control">
                 <option value="">choose training</option>
                 <option value="v1">v1</option>
                 <option value="v2">v2</option>
             </select>
         </div>
         <button type="submit" class="btn btn-primary">Submit Register</button>
     </form>
 </body>
 </html>
