﻿@model _21_11_2021.Models.Member

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
<div>
    <h1>Thank you, @Model.Name!</h1>

        It's great that you're coming. The drinks are already in the fridge!

</div>
<div>Click <a asp-action="ListResponses">here</a> to see who is coming.</div>
</body>
</html>